*, *::before, *::after{
   box-sizing: border-box;
}

body{
   background-color: #3B4664;
   margin: 0;
}

.calc-body{
   background-color: #3B4664;
   width: 600px;
   height: auto;
   margin: 0 auto;
   overflow: hidden;
   margin-top: 30px;
   border-radius: 20px;
}

.header{
   color:white;
   background-color: #3B4664;
   width: 600px;
   height: 16px;
   font-weight: bold;
   font-size: 20px;
   letter-spacing: 2px;
   padding: 20px 0px 20px 0px;
   display: flex;  
   align-items: center;
   justify-content: left;
   margin:20px 0px 10px 20px;
}

.screen{
   width:600px;
   height: 40px;
   padding: 50px;
   color: white;
   font-size: 40px;
   font-weight: bolder;
   background-color: #181F32;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-around;
}


.keypad{
   display: grid;
   gap: 1em;
   grid-template-columns: auto auto auto auto;
   margin-top:20px;
   padding:20px;
   background-color: #242E41;
   border-radius: 12px;
}

.buttons{
   box-sizing: content-box;
   display: inline-block;
   color: #4D4F57;
   border: none;
   border-radius: 15px;
   padding: 20px;
   font-size: 2rem;
   background-color: #E9E2DB;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bolder;
   text-align: center;
   cursor:pointer;
}
.buttons:hover,
.buttons:focus{
   background-color: green;
   color: white;
   border:white solid 2px;
}

.del{
   background-color: #647299;
   color: #E7EEF3;
   font-weight: bolder;
   text-align: center;
   border-radius: 15px;
   border: none;
   padding: 10px;
   font-size: 2rem;
}
.del:hover,
.del:focus{
   color: red;
   border:white solid 2px;
}

.reset{
   grid-column: span 2;
   background-color: #647299;
   color: #E7EEF3;
   border: none;
   font-weight: bolder;
   text-align: center;
   border-radius: 15px;
   border: none;
   padding: 10px;
   font-size: 2rem;
}
.reset:hover,
.reset:focus{
   color: red;
   border:white solid 2px;
}

.equal{
   grid-column: span 2;
   color: #FFDBD4;
   background-color: #D1402E;
   font-weight: bolder;
   text-align: center;
   border-radius: 15px;
   border: none;
   padding: 10px;
   font-size: 2rem;
}
.equal:hover,
.equal:focus{
   color: white;
   border:white solid 2px;
}